

    .image {
      margin-top: -100px;
    }


.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
  position: relative;
}



*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ef4036;
  font-family: AvenirLTStd-Black, "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  line-height: 1.5em;
  position: relative;
  -webkit-transition: background-color 0.6s ease-in-out 0s;
  transition: background-color 0.6s ease-in-out 0s 
}



.ui.grid.main{
  margin-top: 30px;
}


.mobile.row{
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
  border-radius: 0px !important;
}

.padding-reset{
  padding: 0px !important;
}

.ui.message{
  padding: 40px !important;
}

@media (max-width: 767px) {
    .ui.inverted.navbar{
  }
}

.ui.vertical.menu{
  margin-top: -15px !important;
  width: 100%;
  display: none;
}

.footer{
  color: #f8f8f9;
}

/*
  User registration process layout
 */

.centered_static_modal_wrap{
  position: relative;
  top : 5%;
  text-align: center;
  max-width: 450px;
  margin: 0 auto 0 auto;
}

.ui.segment.modal_body{
  margin-left: .5em;
  margin-right: .5em;
  padding-left: 2em;
  padding-right: 2em;
}