<template name="home">
    <head>
      <title>Summer.AllAroundU</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=0" />
      <!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"> -->
      <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    </head>

    <div class="ui grid">
     <div class="ui hidden divider"></div>
        <div class="computer tablet only row">
            <div class="ui fixed menu navbar page grid">

                <a href="#" class="active item"><img src="/img/logo.png">
                Home</a>
                <a href="mailto:durid@union.edu?Subject=RE:User:%20{{currentUser.profile.FirstName}}-summer.AllAroundU%20" class="item">Contact Us</a>
                {{#if currentUser}}
                <div class="right menu">
                    <a href="" class="item" id="logout">Logout</a>
                    <a class="item">
                    <div class="ui large horizontal divided list">
                        <div class="item">
                            <img class="ui avatar image" src="{{userGravatar}}">
                            <div class="content">
                              <div class="header">{{profile.FirstName}}</div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>          
                {{/if}}
            </div>
        </div>

        <div class="mobile only row">
            <div class="ui fixed  navbar menu">
                <a href="#" class="item"><img src="/img/logo.png">
                Home</a>
                <a href="mailto:durid@union.edu?Subject=RE:User:%20{{currentUser.profile.FirstName}}-summer.AllAroundU%20" class="item">Contact Us</a>
                <div class="right menu open">
                    {{#if currentUser}}
                    <a href="" class="item" id="logout">Logout</a>
                    <a class="item">
                    <div class="ui large horizontal divided list">
                        <div class="item">
                            <img class="ui avatar image" src="{{userGravatar}}">
                            <div class="content">
                              <div class="header">{{profile.FirstName}}</div>
                            </div>
                        </div>
                    </div>
                    </a>
                    {{/if}}
                </div>
            </div>  
        </div>
    </div>
    
    <div class="ui page grid main">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui attached allaroundu huge message">
                    <div class="header">
                        <h1 class="ui huge allaroundu header">Where are U?</h1>
                    </div>
                    <p>Find union students who may be in the area</p>
                    <!-- <div class="ui action fluid input">
                        <input placeholder="Enter a location...." type="text" id="location">
                        <div class="ui red button" id="searchButton">Let's take a look!</div>
                    </div> -->
                    <br />
                    <div align = 'center' class = 'map-container' id="homeMap">
                        {{> googleMap name = 'map' options = mapOptions}}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="ui page centered grid main">
        <div class="row">
        <div class="ui form eight wide subscribe column">
         <div class="field">    
          <div class="ui action input">
            <input placeholder="Enter a location...." type="text" id="location">
            <div class="ui button" id="searchButton">Let's take a look!</div>
          </div>
              </div>
          </div>
      </div>
    </div> -->
    <div class="ui hidden divider"></div>
      <div class="ui page grid">
      



      <!--  Secondary content -->


        <div class="row">
            <div class="right floated column footer ">
                <div class="ui divider"></div>  
                <p align="right">Extension of <a href="http://allaroundu.org">AllAroundU</a>, by <a href="https://twitter.com/_DuriDuri">@DuriDuri</a>.</p>
                <p align="right">&copy; AllAroundU 2015</p>
            </div>
        </div>
    </div>
    

</template>