<template name="home">


    <div class="ui grid">
        <div class="computer tablet only row">
            <div class="ui fixed menu navbar page grid">
                <a href="" class="brand item">summer.AllAroundU</a>
                <a href="#" class="active item">Home</a>
                <a href="mailto:durid@union.edu?Subject=RE:User:%20{{currentUser.profile.FirstName}}-summer.AllAroundU%20" class="item">Contact</a>
                {{#if currentUser}}
                <div class="right menu">
                    <a href="" class="item" id="logout">Logout</a>
                </div>
                <div class="ui horizontal list">
                  <div class="item">
                    {{#if userGravatar}}
                        <img class="ui avatar image" src="{{userGravatar}}">
                    {{else}}
                        <img class="ui avatar image" src="/img/matthew.jpg">
                    {{/if}}
                    <div class="content">
                      <div class="header"></div>
                      {{profile.FirstName}}
                    </div>
                  </div>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="mobile only row">
            <div class="ui fixed inverted navbar menu">
                <a href="" class="brand item">summer.AllAroundU</a>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i class="reorder icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui vertical navbar menu">
                <a href="" class="active item">Home</a>
                <a href="" class="item">About</a>
                {{#if currentUser}}
                <div class="menu">

                    <a href="" class="item">Logout</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    
    <div class="ui page grid main">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui attached red large message">
                    <div class="header">
                        <h1 class="ui huge header">Where should we look?</h1>
                    </div>
                    <p>Enter a location and let's find fellow Union students nearby.</p>
                    <div class="ui action fluid input">
                        <input placeholder="Enter a location...." type="text" id="location">
                        <div class="ui button" id="searchButton">Let's take a look!</div>
                    </div>
                    <br />
                    <div align = 'center' class = 'map-container' id="homeMap">
                        {{> googleMap name = 'map'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="ui page centered grid main">
        <div class="row">
        <div class="ui form eight wide subscribe column">
         <div class="field">    
          <div class="ui action input">
            <input placeholder="Enter a location...." type="text" id="location">
            <div class="ui button" id="searchButton">Let's take a look!</div>
          </div>
              </div>
          </div>
      </div>
    </div> -->
    <div class="ui hidden divider"></div>
      <div class="ui page grid">
      



      <!--  Secondary content -->


        <div class="row">
            <div class="right floated column footer ">
                <div class="ui divider"></div>  
                <p align="right">Extension of <a href="http://allaroundu.org">AllAroundU</a>, by <a href="https://twitter.com/_DuriDuri">@DuriDuri</a>.</p>
                <p align="right">&copy; AllAroundU 2015</p>
            </div>
        </div>
    </div>
    

</template>