<template name="updateLocation">
             <div class="ui raised segment modal_body">
                <h1 class="ui allaroundu header">
                      Update location
                    </h1>
                <div class="ui form" id='updateLocationForm'>

                    <!-- Location Field -->
                    <div class ="one field">
                      <label align='left'>Location</label>
                      <input id='location' name='location' type="text"> 
                    </div>
                </div>
            </div>
</template>