<template name="forgotMyPassword">

        <div class="ui raised segment">

            <!-- Toggle reset password link from email has been pressed -->
            
        {{#if resetPassword}}
            
            <div class="ui fluid center aligned form" id='resetPasswordForm'>
            <h1 class="ui yellow header">
              Time for a new password.
            </h1>

            <!-- Password field -->
            <div class ="one field">
              <label align='left'>Password</label>
              <input name='passwordOne' placeholder="" type="password">
            </div>

            <!-- Password confirmation field -->
            <div class ="one field">
              <label align='left'>Confirm Password</label>
              <input name='passwordTwo' placeholder="" type="password">
            </div>

            <!-- Submit Button -->
            <div class="ui fluid blue button" id='resetPassword'>Reset!</div>
            </div>

        {{else}}
            <div class="ui fluid center aligned form" id='requestPasswordResetForm'>
                <h1 class="ui yellow header">
                  Don't worry, everyone forgets their password.
                </h1>

                <!-- Email field -->
                <div class ="one  field">
                  <label align='left'>Email</label>
                  <input id='email' name='email' placeholder="" type="text">
                </div>
                <div class="inline field" align='right'>
                    <label align='right'><a href="/logMeIn">Back to login</a></label>
                </div>
                

                <!-- Submit button -->
                <div class="ui fluid basic yellow button" id='sendResetEmail'>Reset my password!</div>
            </div>
            
        {{/if}}

    </div>
</template>