<template name="login">
    <div class="ui raised segment">
        <div class="ui fluid center aligned form" id='loginForm'>

            <h1 class="ui header">
              Login
            </h1>

            <!-- Email field -->
            <div class ="one field">
              <input id='email' name='email' placeholder="" type="text">
              <label>Email</label>
            </div>

            <!-- Password Field  -->
            <div class ="one  field">
              <input id='password' name='password' type="password">
              <label>Password</label>
            </div>
            <div class="inline field" align='left'>
                <label align='left'><a href="/signMeUp">Sign Up</a></label>
                <label align='right'><a href="/forgotMyPassword">Forgot password</a></label>
            </div>

            <div class="ui fluid blue button" id='submitForm'>Log me in!</div>

        </div>
    </div>

</template>