<template name="logMeIn">


             <div class="ui raised segment modal_body">
                <div class="ui form" id='loginForm'>

                    <h1 class="ui allaroundu header">
                      Login
                    </h1>

                    <!-- Email field -->
                    <div class ="one field">
                      <label align='left'>Email</label>
                      <input id='email' name='email' type="text"> 
                    </div>

                    <!-- Password Field  -->
                    <div class ="one  field">
                      <label align='left'>Password</label>
                      <input id='password' name='password' type="password">
                      
                    </div>
                    
                    

                   

                    <div class="ui fluid basic yellow button" id='submitForm'>Log me in!</div>

                    
                    <!-- Forgot password/signmeup buttons -->
                    <div class = 'two mini ui buttons'> <!-- class="inline field" align='left' -->
                      <button class = 'ui button' id = 'signUpLink'>Sign Up</button>
                      <button class = 'ui button' id = 'forgotPasswordLink'>Forgot Password</button>
                    </div>

                </div>
        </div>

</template>